[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/planbkh
[access "refs/for/refs/*"]
	read = group user/planbkh
	push = group user/planbkh
	label-Code-Review = -2..+2 group user/planbkh
	label-Verified = -1..+1 group user/planbkh
	rebase = group user/planbkh
	removeReviewer = group user/planbkh
	submit = group user/planbkh
[access "refs/heads/*"]
	read = group user/planbkh
	create = group user/planbkh
	push = +force group user/planbkh
	pushMerge = group user/planbkh
[access "refs/tags/*"]
	push = +force group user/planbkh
	pushTag = group user/planbkh
	pushSignedTag = group user/planbkh
